.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background-color: #0f172a;
  color: white;
}

.logo h2 {
  margin: 0;
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #e2e8f0;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.nav-links li.active a {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
}

.cart-badge {
  background: red;
  color: white;
  padding: 3px 8px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 10px;
}