/* ===== PRODUCT CARD ===== */
.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/* Product Image */
.card img {
  height: 160px;
  object-fit: contain;
  margin-bottom: 15px;
}

/* Product Title */
.card h3 {
  font-size: 15px;
  color: #1e293b;
  margin-bottom: 10px;
  min-height: 45px;
}

/* Product Price */
.card p {
  font-size: 16px;
  font-weight: bold;
  color: #0f172a;
  margin-bottom: 15px;
}

/* Add To Cart Button */
.card button {
  background-color: #22c55e;
  color: white;
  border: none;
  gap: 30px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.card button:hover {
  background-color: #16a34a;
}

.button-group {
  display: flex;
  gap: 15px;   /* space between buttons */
}